<h1>Books</h1>

<a [routerLink]=" ['./create'] ">Create new</a>

<table *ngIf="books.length > 0">
    <thead>
        <tr>
            <th hidden>#</th>
            <th>Name</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td hidden>{{book.id}}</td>
            <td><a [routerLink]="['./update', book.id]">{{book.name}}</a></td>
            <td>
                <ul *ngFor="let genre of book.genres">
                    <li>{{genre.name}}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>